[submodule "front-end-app"]
	path = front-end-app
	url = https://github.com/andrei-dascalu3/Bachelor-front-end.git
[submodule "back-end-app"]
	path = back-end-app
	url = https://github.com/andrei-dascalu3/Bachelor-back-end.git
